.home {
    padding: 80px 2vw 20px 2vw;
    min-height: 100vh;
    position: relative;
}

.title {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: var(--paragraphLargestFontSize);
    letter-spacing: 0.13em;
    padding: 0px 0;
    color: #828282;
}

.hold {
    width: 100%;
    border: 1px solid #D1D1D1;
    position: relative;
    margin-top: 40px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: black;
    overflow-x: auto;
}

.tabs button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: white;
    padding: 20px;
    border-bottom: 5px solid black;
    max-width: 200px;
}

.tabs button.active {
    background: var(--shadedBackground);
    border-bottom: 5px solid var(--colorGold);
    font-weight: bolder;
}

.tabs button:hover {
    background: var(--shadedBackground);
}

.transactions_empty {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    flex-flow: column nowrap;
}

.transactions_empty p {
    margin: 20px 0;
    padding: 0;
    color: rgb(22, 22, 22, 0.8);
    font-size: var(--paragraphMidFontSize);
}

.link_btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px;
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid black;
    color: var(--colorGold);
}

.transactions_empty .link_btn_gold {
    text-align: center;
    width: 30%;
    min-width: 150px;
}

.transactions_list {
    padding: 20px;
    overflow: auto;
    width: 100%;
    background: white;
}

.transactions_list table {
    min-width: 400px;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.transactions_list th {
    text-align: left;
    color: rgb(22, 22, 22, 0.5);
    font-size: var(--paragraphMidFontSize);
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px;
}

.transactions_list tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.transactions_list tr:last-child {
    border-bottom: 0 solid rgb(0, 0, 0, 0.2);
}

.transactions_list tr:hover {
    background: rgb(22, 22, 22, 0.2);
    color: black;
}

.transactions_list tr:hover td, .transactions_list tr:hover th {
    color: black;
}

.transactions_list td {
    text-align: left;
    color: rgb(22, 22, 22, 0.5);
    font-size: var(--paragraphMidFontSize);
    padding: 10px;
    min-width: 100px;
}

.transactions_list td.green {
    color: green;
}

.transactions_list td.red {
    color: red;
}

.transactions_list td.blue {
    color: #2F80ED;
}

.back {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(22, 22, 22, 0.8);
}

.back span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorGold);
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-right: 20px;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.summary .card {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    max-width: 500px;
    width: 100%;
}

.cardTop {
    background: rgb(130, 130, 130, 0.3);
    padding: 20px;
}

.cardTop h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-size: var(--paragraphMidFontSize);
}

.cardBody {
    padding: 20px;
}

.cardBody h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-size: var(--paragraphMidFontSize);
}

.cardBody h4.green {
    color: green;
}

.cardBody h4.red {
    color: red;
}

.cardBody h4.blue {
    color: #2F80ED;
}

.cardBody p {
    color: #161616;
    opacity: 0.5;
    margin: 0;
    font-size: var(--paragraphMidFontSize);
    padding: 0;
}

.cardBody h6 {
    color: #161616;
    margin: 0;
    font-size: var(--paragraphMidFontSize);
    padding: 0;
}

.cardBody li {
    margin: 20px 0;
}

.btn_red {
    background: red;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

.btn_red:hover {
    background: none;
    color: red;
    border: 1px solid red;
}

.cardBody .center {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 0.5em;
    height: 20px;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.link_btn_gold.load {
    padding: 10px 60px !important;
    cursor: not-allowed;
    width: 30%;
    min-width: 120px;
    text-align: center;
}

.load:hover {
    background: var(--colorGold) !important;
    border-color: var(--colorGold) !important;
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 0.25em;
    }
    40% {
        box-shadow: 0 -4em;
        height: 0.75em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 1.25em;
    }
}

@media only screen and (max-width: 1000px) {
    .home {
        padding: 80px 6vw 20px 6vw;
    }
}

.address_search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0;
    margin-top: 20px;
}

.address_search input, .address_search input:focus {
    display: block;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    outline: none;
}

.table_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0;
    margin-top: 10px;
}

.table_buttons>div {
    margin-right: 20px;
}

.table_buttons button {
    color: black;
    font-weight: 900;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.table_buttons button:hover {
    background: rgba(216, 216, 216, 0.8);
}

.table_buttons .back_none {
    cursor: not-allowed;
    opacity: 0.4;
}

.table_buttons>div:last-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.table_buttons>div:last-child {
    margin-right: 0;
}