.header {
    padding: 0;
    margin: 0;
    position: relative;
    background: rgba(235, 235, 235, 0.7);
}

.header .flier {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
}

.header .second_flier {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 30%;
}

.link_btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px;
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid black;
    color: var(--colorGold);
}

.header .second_flier svg, .header .flier svg {
    width: 100%;
}

.header_holder {
    min-height: 100vh;
    padding: 3vw 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.header_holder h1 {
    font-size: var(--paragraphMidFontSize);
    color: #272727;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.header_holder h1 span {
    font-size: var(--paragraphSmallFontSize);
    font-weight: lighter;
    color: #272727;
}

.header_holder .subtitle {
    font-size: var(--paragraphSmallFontSize);
    color: #272727;
    text-align: center;
    margin-bottom: 20px;
}

.header_holder .action_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.info_holder {
    width: 50%;
}

.hold {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.holder {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 3vw;
    transform: scaleY(1.2);
    flex-flow: column nowrap;
}

@media only screen and (max-width: 900px) {
    .header_holder {
        min-height: 50vh;
    }
    .info_holder {
        width: 100%;
        margin-bottom: 40px;
    }
}