<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="./css/style.css" />

</head>

<body>

	<section class="notification notification_success">
		<div>
			<div class="heading">
				<p>
					Verification
				</p>
				<h4>
					Success
				</h4>
			</div>
			<p class="info">
				Access Granted
			</p>
			<div class="lines">

			</div>
		</div>
	</section>


	<section class="notification notification_error">
		<div>
			<div class="heading">
				<p>
					Verification
				</p>
				<h4>
					Error
				</h4>
			</div>
			<p class="info">
				Access Denied
			</p>
			<div class="lines">

			</div>
		</div>
	</section>
	<div class="big_container">
		<div class="flier">
			<img src="./images/bg.svg" alt="bg" />
		</div>
		<div class="flier">
			<img src="./images/bg2.svg" alt="bg" />
		</div>
		<div class="flier">
			<img src="./images/bg3.svg" alt="bg" />
		</div>
		<div class="container">
			<div class="logo">
				<a href="https://kwickxchnage.com" title="Kwick Xchange">
					<img src="./images/logo.png" alt="Kwick Xchange logo" />
				</a>
			</div>
			<form class="box">
				<h1 class="box_title">Login</h1>
				<input type="email" class="form_control error" placeholder="Email address" required />
				<p class="error_par">Email is required</p>
				<input type="password" class="form_control" placeholder="Password" required />
				<input type="submit" value="Login" class="link_btn_gold" />
			</form>

			<div class="foot">
				<a href="/password.html">Forgot password?</a>
				<a href="/signup.html">Create Account</a>
			</div>
		</div>
	</div>
</body>

</html>