.footer {
    padding: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.hold {
    width: 25%;
    min-width: 200px;
    padding: 20px;
}

.hold .title {
    color: white;
    font-size: var(--paragraphMidFontSize);
    margin-bottom: 20px;
}

.link_btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px;
}

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 0.5em;
    height: 20px;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.load {
    padding: 10px 60px !important;
}

.load:hover {
    background: var(--colorGold) !important;
    cursor: pointer;
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 0.25em;
    }
    40% {
        box-shadow: 0 -4em;
        height: 0.75em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 1.25em;
    }
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid black;
    color: var(--colorGold);
}

.hold ul li a {
    color: #FFFFFF;
    padding: 10px 20px 10px 0;
    margin: 10px 0 10px 0;
    display: inline-block;
}

.hold ul li p {
    color: #FFFFFF;
    padding: 10px 20px 10px 0;
    margin: 10px 0 10px 0;
    display: inline-block;
}

.hold input {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    color: white;
    padding: 10px 0;
    border-bottom: 3px solid white;
    margin: 0 0 20px 0;
}

.hold textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    color: white;
    padding: 10px;
    border: 1px solid white;
    margin: 0 0 20px 0;
}

.hold input.link_btn_gold {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    font-size: var(--paragraphMidFontSize);
    border-bottom: none;
    background: var(--colorGold);
    color: black;
}

.hold input.link_btn_gold:hover {
    background: none;
    border: 1px solid white;
    color: white;
}

@media only screen and (max-width: 700px) {
    .hold:nth-child(2) {
        order: 3;
        margin-top: 20px;
    }
    .hold:nth-child(3) {
        order: 4;
        margin-top: 20px;
    }
    .hold {
        min-width: 40%;
        width: 40%;
        padding: 0;
    }
    .hold:last-child {
        order: 1;
        width: 100%;
    }
    .hold:first-child {
        order: 2;
        width: 100%;
    }
}