.header {
    padding: 0;
    margin: 0;
    position: relative;
}

.header .flier {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
}

.link_btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px;
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid var(--colorGold);
    color: var(--colorGold);
}

.header .second_flier {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 30%;
}

.header_holder {
    padding: 1.5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.header_holder h1 {
    font-size: var(--headerLargeFontSize);
    color: white;
}

.header_holder .subtitle {
    font-size: var(--paragraphLargestFontSize);
    width: 90%;
    color: white;
}

.header_holder .action_buttons>div {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    flex-flow: row nowrap;
}

.info_holder {
    padding: 0 6vw;
    width: 50%;
}

.header_holder ul {
    margin-bottom: 40px;
}

.header_holder ul li {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
}

.header_holder ul li p {
    font-size: var(--paragraphMidFontSize);
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.header_holder .animated_payment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.header_holder .animated_payment img {
    width: 80%;
    transform: translateX(-8%);
}

@media only screen and (max-width: 900px) {
    .header_holder {
        justify-content: center;
        align-items: center;
        flex-flow: column-reverse nowrap;
        padding-top: 100px;
    }
    .info_holder {
        width: 100%;
        margin-bottom: 40px;
    }
    .header_holder .animated_payment {
        width: 100%;
        padding: 0 6vw;
    }
    .header_holder .animated_payment img {
        width: 100%;
        transform: translateX(0);
    }
    .header_holder .subtitle {
        width: 100%;
    }
    .header_holder .action_buttons>div {
        width: 100%;
    }
}