<html lang="en">

<head>
    <meta charSet="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick exchange</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./style.css" />
    <meta name="description" content="" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />
    <meta name="keywords" content="" />
</head>

<body>

    <header class="header">
        <div class="flier">
            <img src="./images/bg1.svg" alt="background" />
        </div>
        <div class="flier">
            <img src="./images/bg2.svg" alt="background" />
        </div>
        <div class="flier">
            <img src="./images/bg3.svg" alt="background" />
        </div>
        <div class="header_holder">
            <div class="info_holder">
                <h1>
                    Sell all your gift cards from our Listings
                </h1>
                <ul>
                    <li>
                        <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd)">
                                <circle cx="17" cy="21" r="10" fill="white" />
                            </g>
                            <path d="M13 21.75L15.1818 24L21 18" stroke="black" stroke-width="2"
                                stroke-linecap="round" />
                            <defs>
                                <filter id="filter0_dd" x="0" y="0" width="34" height="42" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect1_dropShadow" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect2_dropShadow" />
                                    <feOffset dy="-4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix"
                                        values="0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p>Amazon</p>
                    </li>
                    <li>
                        <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd)">
                                <circle cx="17" cy="21" r="10" fill="white" />
                            </g>
                            <path d="M13 21.75L15.1818 24L21 18" stroke="black" stroke-width="2"
                                stroke-linecap="round" />
                            <defs>
                                <filter id="filter0_dd" x="0" y="0" width="34" height="42" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect1_dropShadow" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect2_dropShadow" />
                                    <feOffset dy="-4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix"
                                        values="0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p>Nike</p>
                    </li>
                    <li class="active">
                        <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd)">
                                <circle cx="17" cy="21" r="10" fill="white" />
                            </g>
                            <path d="M13 21.75L15.1818 24L21 18" stroke="black" stroke-width="2"
                                stroke-linecap="round" />
                            <defs>
                                <filter id="filter0_dd" x="0" y="0" width="34" height="42" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect1_dropShadow" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect2_dropShadow" />
                                    <feOffset dy="-4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix"
                                        values="0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p>Apple</p>
                    </li>
                    <li>
                        <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd)">
                                <circle cx="17" cy="21" r="10" fill="white" />
                            </g>
                            <path d="M13 21.75L15.1818 24L21 18" stroke="black" stroke-width="2"
                                stroke-linecap="round" />
                            <defs>
                                <filter id="filter0_dd" x="0" y="0" width="34" height="42" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect1_dropShadow" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect2_dropShadow" />
                                    <feOffset dy="-4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix"
                                        values="0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p>Zelle</p>
                    </li>
                    <li>
                        <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd)">
                                <circle cx="17" cy="21" r="10" fill="white" />
                            </g>
                            <path d="M13 21.75L15.1818 24L21 18" stroke="black" stroke-width="2"
                                stroke-linecap="round" />
                            <defs>
                                <filter id="filter0_dd" x="0" y="0" width="34" height="42" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect1_dropShadow" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect2_dropShadow" />
                                    <feOffset dy="-4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix"
                                        values="0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p>Triopic</p>
                    </li>
                    <li>
                        <svg width="34" height="42" viewBox="0 0 34 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_dd)">
                                <circle cx="17" cy="21" r="10" fill="white" />
                            </g>
                            <path d="M13 21.75L15.1818 24L21 18" stroke="black" stroke-width="2"
                                stroke-linecap="round" />
                            <defs>
                                <filter id="filter0_dd" x="0" y="0" width="34" height="42" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect1_dropShadow" />
                                    <feOffset dy="4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0" />
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                    <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                                        result="effect2_dropShadow" />
                                    <feOffset dy="-4" />
                                    <feGaussianBlur stdDeviation="2.5" />
                                    <feColorMatrix type="matrix"
                                        values="0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0 0.308333 0 0 0 0.25 0" />
                                    <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                                </filter>
                            </defs>
                        </svg>
                        <p>Lumbic</p>
                    </li>
                </ul>
                <div class="action_buttons">
                    <a href="/contact/speak" class="link_btn_gold">Get Started</a>
                </div>
            </div>
            <div class="animated_payment">
                <div>
                    <img src="./images/image.png" alt="animated bitcoin payment" />
                </div>
            </div>
        </div>
    </header>

</body>

</html>