.notification {
    position: fixed;
    top: 15vh;
    right: 0;
    margin: 0 5vw;
    width: 250px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: white;
    z-index: 101;
    padding: 0;
    animation: slideIn 0.3s;
    display: none;
    transform-origin: right;
}

@keyframes slideIn {
    from {
        opacity: 0.5;
        transform: scaleX(0) translateX(20px);
    }
}

.notification>div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column nowrap;
}

.notification .heading {
    position: relative;
    padding: 20px;
    height: 40px;
    background: white;
}

.notification .heading p {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    font-size: 10px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: grey;
    text-transform: capitalize;
    font-size: var(--paragraphSmallestFontSize);
}

.notification .heading h4 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notification .info {
    text-align: center;
    padding: 10px;
    font-size: var(--paragraphSmallFontSize);
    margin: 0 10px;
}

.notification .lines {
    border-top: 4px solid;
    border-bottom: 1px solid;
    margin: 0 10px;
    padding: 1px;
    margin-bottom: 10px;
}

.notification_success .heading h4 {
    color: #00C013;
}

.notification_success .info {
    color: #00C013;
}

.notification_success .lines {
    border-color: #00C013;
}

.notification_error .heading h4 {
    color: #E70000;
}

.notification_error .info {
    color: #E70000;
}

.notification_error .lines {
    border-color: #E70000;
}

.notification_success>div {
    background: rgba(0, 192, 19, 0.1);
}

.notification_error>div {
    background: rgb(231, 0, 0, 0.1);
}