.wallets {
    min-height: 100vh;
    position: relative;
    padding: 80px 6vw 20px 6vw;
    position: relative;
}

.back {
    display: flex;
    justify-content: flex-start;
}

.back a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.back span {
    background: #FFC700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
}

.back p {
    margin: 0;
    padding: 0;
    color: rgb(22, 22, 22, 0.8);
    font-size: var(--paragraphMidFontSize);
}

.balances {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row nowrap;
    margin: 20px 0;
    width: 100%;
}

.balances .balance {
    overflow: hidden;
    width: 45%;
    background: white;
    margin-right: 20px;
    position: relative;
    max-width: 300px;
}

.balances .balance div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    position: relative;
    z-index: 2;
    flex-flow: column nowrap;
}

.balances .balance:last-child {
    margin-right: 0;
}

.balance h3 {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0, 0.8);
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: var(--paragraphLargeFontSize);
}

.balance h2 {
    padding: 0;
    margin: 0;
    color: black;
    margin-bottom: 20px;
    font-size: var(--headerLargeFontSize);
}

.vcHolders {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    bottom: 0;
}

.balance h4 {
    color: #00C013;
    font-size: var(--paragraphMidFontSize);
}

.balance p {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0, 0.6);
    font-size: var(--paragraphMidFontSize);
}

.balance a {
    margin: 20px 0;
    text-align: center;
}

.balance span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.balance .btc {
    background: rgb(0, 148, 255, 0.25);
}

.flier {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.second_flier {
    position: absolute;
    bottom: 20px;
    right: -30px;
    width: 50%;
    transform: rotate(90deg);
}

.hold {
    width: 100%;
    border: 1px solid #D1D1D1;
    position: relative;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: black;
    overflow-y: auto;
}

.tabs button {
    display: flex;
    justify-content: center;
    min-width: 100px;
    align-items: center;
    width: 30%;
    color: white;
    padding: 20px;
    border-bottom: 5px solid black;
    max-width: 200px;
}

.tabs button.active {
    background: var(--shadedBackground);
    border-bottom: 5px solid var(--colorGold);
    font-weight: bolder;
}

.tabs button:hover {
    background: var(--shadedBackground);
}

.balance_tab {
    padding: 40px 20px;
}

.balance_tab .address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    width: 100%;
}

.balance_tab p {
    margin: 20px 0;
    padding: 0;
    color: rgb(22, 22, 22, 0.8);
    font-size: var(--paragraphMidFontSize);
}

.balance_tab .address button {
    text-align: center;
    display: block;
    min-width: 150px;
}

.balance_tab .address button:first-child {
    margin-right: 20px;
}

.balance_tab .address button span {
    margin-right: 20px;
}

.balance_tab .address button svg path {
    fill: black;
    transition: all 0.3s;
}

.balance_tab .address button:hover svg path {
    fill: var(--colorGold);
}

.withdrawHold {
    position: relative;
    background: white;
}

.withdraw {
    padding: 40px 20px;
    position: relative;
    z-index: 2;
}

.saved_accountsHold {
    background: rgba(255, 255, 255);
    position: relative;
    min-height: 50vh;
}

.transactionsHold {
    position: relative;
    background: white;
    min-height: 50vh;
}

.saved_accounts, .transactions {
    position: relative;
    z-index: 2;
}

.holdAccounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.holdAccounts>* {
    width: 30%;
}

.holdAccounts>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.holdAccounts>div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.holdAccounts>div:last-child button {
    text-align: center;
    display: block;
    min-width: 120px;
}

.accounts_list {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background: rgb(196, 196, 196, 0.2);
}

.accounts_list li {
    padding: 20px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.2);
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    transition: all 0.3s;
}

.accounts_list li:hover {
    background: rgb(128, 128, 128, 0.2);
}

.accounts_list li .first {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.accounts_list li .second {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.accounts_list li .second button {
    display: block;
    width: 100px;
    text-align: left;
}

.accounts_list .red {
    color: red;
}

.accounts_list li .first p {
    color: black;
    margin: 0;
    padding: 0;
    font-size: var(--paragraphFontSize);
}

.accounts_list li .first p:first-child {
    font-weight: bolder;
}

.accounts_list li .first p:nth-child(2) {
    margin: 10px 0;
    opacity: 0.8;
}

.bank_lists {
    padding: 40px 20px;
}

.holdAccounts h1 {
    padding: 0;
    margin: 0;
    font-size: var(--paragraphMidFontSize);
    text-align: center;
}

.holdAccounts button span {
    background: #FFC700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
}

.withDrawAccountsList {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.withDrawAccountsList .verify {
    padding: 20px;
    background: #F2994A;
    line-height: 150%;
    font-size: var(--paragraphFontSize);
}

.withDrawAccountsList .verify a {
    text-decoration: underline;
    font-weight: bolder;
    display: inline-block;
}

.withDrawAccountsList .choose {
    color: blue;
    text-decoration: underline;
    margin-bottom: 20px;
    display: block;
}

.control_label {
    font-size: var(--paragraphMidFontSize);
    margin-bottom: -20px;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

.control_label.error {
    color: red;
}

.form_control {
    width: 100%;
    font-size: var(--paragraphMidFontSize);
    outline: none;
    padding: 20px 30px;
    background: white;
    border: 1px solid #828282;
    margin-top: 30px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form_control:focus {
    border-color: #FFC700;
}

.form_control.error {
    border-color: #E70000;
}

.box .link_btn_gold {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 30px;
    margin-top: 30px;
}

.vc {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    height: 100%;
    z-index: -1;
}

.transactions_empty {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: center;
    flex-flow: column nowrap;
}

.transactions_empty p {
    margin: 20px 0;
    padding: 0;
    color: rgb(22, 22, 22, 0.8);
    font-size: var(--paragraphMidFontSize);
}

.link_btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px;
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid black;
    color: var(--colorGold);
}

.transactions_empty .link_btn_gold {
    text-align: center;
    width: 30%;
    min-width: 150px;
}

.transactions_list {
    padding: 20px;
    overflow: auto;
    width: 100%;
    background: white;
}

.transactions_list table {
    min-width: 400px;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.transactions_list th {
    text-align: left;
    color: rgb(22, 22, 22, 0.5);
    font-size: var(--paragraphMidFontSize);
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px 0;
}

.transactions_list tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.transactions_list tr:last-child {
    border-bottom: 0 solid rgb(0, 0, 0, 0.2);
}

.transactions_list tr:hover {
    background: rgb(22, 22, 22, 0.2);
    color: black;
}

.transactions_list tr:hover td, .transactions_list tr:hover th {
    color: black;
}

.transactions_list td {
    text-align: left;
    color: rgb(22, 22, 22, 0.5);
    font-size: var(--paragraphMidFontSize);
    padding: 10px 0;
}

.transactions_list td.green {
    color: green;
}

.transactions_list td.red {
    color: red;
}

.send {
    padding: 40px 20px;
}

.send h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: var(--paragraphLargeFontSize);
    color: #161616;
    text-align: center;
}

.send .actions {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row nowrap;
}

.send .action {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    margin: 20px;
}

.send .action p {
    margin: 20px 0;
    padding: 0;
    color: rgb(22, 22, 22, 0.8);
    text-align: center;
}

.send button span {
    margin-right: 20px;
}

.send button svg path {
    fill: black;
    transition: all 0.3s;
}

.send button:hover svg path {
    fill: var(--colorGold);
}

@media only screen and (max-width: 1000px) {
    .wallets {
        padding: 80px 6vw 20px 6vw;
    }
}

@media only screen and (max-width: 700px) {
    .balance_tab {
        flex-flow: column nowrap;
    }
    .text {
        width: 100%;
    }
    .qr {
        width: 100%;
        align-items: flex-start;
    }
    .send .actions {
        align-items: center;
        flex-flow: column nowrap;
    }
    .send .action {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .balances {
        flex-flow: column nowrap;
        margin-bottom: 0;
    }
    .balances .balance {
        width: 100%;
        margin-bottom: 20px;
    }
    .flier {
        opacity: 0.7;
        right: 40%;
    }
    .second_flier {
        right: -80px;
        opacity: 0.5;
    }
    .holdAccounts>div:first-child {
        display: none;
    }
}