.home {
    padding: 0;
    min-height: 100vh;
    position: relative;
}

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 0.5em;
    height: 20px;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.link_btn_gold.load {
    padding: 10px 60px !important;
    cursor: not-allowed;
}

.load:hover {
    background: var(--colorGold) !important;
    border-color: var(--colorGold) !important;
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 0.25em;
    }
    40% {
        box-shadow: 0 -4em;
        height: 0.75em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 1em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 1.25em;
    }
}

.title {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: var(--paragraphLargestFontSize);
    letter-spacing: 0.13em;
    padding: 0px 0;
    color: #828282;
}

.hold {
    width: 100%;
    border: 1px solid #D1D1D1;
    position: relative;
    margin-top: 40px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: black;
    overflow-x: auto;
}

.tabs button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: white;
    padding: 20px;
    border-bottom: 5px solid black;
    max-width: 200px;
}

.tabs button.active {
    background: var(--shadedBackground);
    border-bottom: 5px solid var(--colorGold);
    font-weight: bolder;
}

.tabs button:hover {
    background: var(--shadedBackground);
}

.transactions_empty {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    flex-flow: column nowrap;
}

.transactions_empty p {
    margin: 20px 0;
    padding: 0;
    color: rgb(22, 22, 22, 0.8);
    font-size: var(--paragraphMidFontSize);
}

.link_btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px;
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid black;
    color: var(--colorGold);
}

.transactions_empty .link_btn_gold {
    text-align: center;
    width: 30%;
    min-width: 150px;
}

.transactions_list {
    padding: 20px;
    background: white;
    overflow: auto;
    width: 100%;
    background: white;
}

.transactions_list table {
    min-width: 400px;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.transactions_list th {
    text-align: left;
    color: rgb(22, 22, 22, 0.5);
    font-size: var(--paragraphMidFontSize);
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px 0;
}

.transactions_list tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.transactions_list tr:last-child {
    border-bottom: 0 solid rgb(0, 0, 0, 0.2);
}

.transactions_list tr:hover {
    background: rgb(22, 22, 22, 0.2);
    color: black;
}

.transactions_list tr:hover td, .transactions_list tr:hover th {
    color: black;
}

.transactions_list td {
    text-align: left;
    color: rgb(22, 22, 22, 0.5);
    font-size: var(--paragraphMidFontSize);
    padding: 10px 0;
    min-width: 100px;
}

.transactions_list td.green {
    color: green;
}

.transactions_list td.red {
    color: red;
}

.transactions_list td.blue {
    color: #2F80ED;
}

.back {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(22, 22, 22, 0.8);
}

.back span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorGold);
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-right: 20px;
}

.summary {
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    min-height: 90vh;
}

.summary .card {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    max-width: 500px;
    width: 100%;
}

.cardTop {
    background: rgb(130, 130, 130, 0.3);
    padding: 20px;
}

.cardTop h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-size: var(--paragraphMidFontSize);
}

.cardBody {
    padding: 20px;
}

.cardBody h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-size: var(--paragraphMidFontSize);
}

.cardBody h4.green {
    color: green;
}

.cardBody h4.red {
    color: red;
}

.cardBody h4.blue {
    color: #2F80ED;
}

.cardBody p {
    color: #161616;
    opacity: 0.5;
    margin: 0;
    font-size: var(--paragraphMidFontSize);
    padding: 0;
}

.cardBody h6 {
    color: #161616;
    margin: 0;
    font-size: var(--paragraphMidFontSize);
    padding: 0;
}

.cardBody li {
    margin: 20px 0;
}

.btn_red {
    background: red;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

.btn_red:hover {
    background: none;
    color: red;
    border: 1px solid red;
}

.cardBody .center {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.profilePic {
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    flex-flow: row nowrap;
    position: relative;
    overflow: hidden;
}

.profilePic form input {
    display: block;
    margin: 20px 0;
}

.profilePic>div {
    width: 50%;
    margin: 20px;
}

.profilePic ._flier {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    display: block;
    bottom: 0;
}

._flier img {
    width: 100%;
}

.avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC700;
}

.avatar img {
    width: 70%;
    display: block;
    height: 70%;
    object-fit: cover;
}

.profilePic>div:first-child {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.profilePic>div:nth-child(2) {
    padding-left: 20px;
}

.profilePic>div:nth-child(2) h2 {
    font-size: var(--paragraphMidFontSize);
    margin: 0;
    padding: 0;
    color: black;
    margin-bottom: 20px;
}

.profilePic>div:nth-child(2) p {
    font-size: var(--paragraphMidFontSize);
    opacity: 0.5;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: black;
}

.profileInfo {
    margin-top: 40px;
    width: 100%;
    background: white;
    border: 1px solid #D1D1D1;
    position: relative;
    margin-top: 40px;
}

.profileTop {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: black;
    overflow-x: auto;
}

.profileTop h2 {
    margin: 0;
    color: white;
    padding: 20px;
    border-bottom: 5px solid black;
    font-size: var(--paragraphMidFontSize);
}

.profileBody {
    padding: 20px;
}

.profileBody form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.profileBody form input, .profileBody form select, .profileBody form>div {
    width: 30%;
    padding: 20px;
    display: block;
    margin: 10px 0;
    min-width: 200px;
}

.error_par {
    margin: 0;
    margin-top: 5px;
    padding: 15px 25px;
    background: rgba(231, 0, 0, 0.1);
    color: #E70000;
}

.notification {
    background: white;
    padding: 20px;
}

.notification p {
    color: black;
    margin: 0;
    padding: 0;
    font-size: var(--paragraphMidFontSize);
}

.notification>p {
    margin-bottom: 20px;
}

.notification .table {
    width: 100%;
    overflow-x: auto;
}

.notification table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
}

.notification th {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    text-align: center;
    padding: 10px;
}

.notification th:first-child {
    text-align: left;
}

.notification td {
    padding: 10px;
    text-align: center;
}

.notification td:first-child {
    padding: 10px;
    text-align: left;
}

.notification button {
    margin-top: 20px;
}

.password {
    background: white;
    padding: 20px;
}

.password form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
}

.password form>* {
    width: 30%;
    margin: 10px 0;
}

.password form input {
    padding: 20px;
}

.password div {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.password div input {
    border: none;
    padding: 20px 0;
    width: 70%;
}

.password div svg {
    cursor: pointer;
}

.password div input:focus {
    border: none;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .profilePic {
        flex-flow: column nowrap;
        padding: 20px;
    }
    .profilePic>div {
        width: 100%;
        margin: 0;
    }
    .profilePic>div:first-child {
        justify-content: center;
        padding-right: 0;
    }
    .profilePic>div:nth-child(2) {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
    .profilePic>div:nth-child(2) * {
        text-align: center;
    }
    .profilePic form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
    .profilePic form input {
        width: 80%;
    }
    .profileBody form input, .profileBody form select {
        width: 45%;
        min-width: auto;
    }
    .password form>* {
        width: 45%;
    }
}