<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick exchange</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="./style.css" />
    <meta name="description" content="" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />
    <meta name="keywords" content="" />
</head>

<body>

    <header class="header">
        <div class="header_holder">
            <div class="animated_payment">
                <img src="./images/image.png" alt="animated bitcoin payment" />
            </div>
            <div class="info_holder">
                <h1>
                    Sell Bitcoins
                </h1>
                <p class="subtitle">
                    Our APIs allow you to reach out to your exact target audience, and facilitate lorem ipsum
                </p>
                <div class="action_buttons">
                    <a href="/contact/speak" class="link_btn_gold">Get Started</a>
                </div>
            </div>
        </div>
    </header>

</body>

</html>