.prompt .top h3 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: var(--paragraphFontSize);
    padding: 20px;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: navbar_animate 0.3s;
}

@keyframes navbar_animate {
    from {
        opacity: 0.5;
        transform: scale(0.5, 0.5);
    }
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: white;
}

.prompt .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(130, 130, 130, 0.3);
    flex-flow: row nowrap;
}

.prompt p {
    color: black;
    margin: 0;
    text-align: center;
    font-size: var(--paragraphFontSize);
    padding: 20px;
}

.prompt ul {
    padding: 20px 0;
}

.prompt ul li {
    transition: all 0.3s;
    border-bottom: 1px solid rgb(128, 128, 128, 0.2);
    padding: 20px;
    cursor: pointer;
}

.prompt ul li p {
    color: black;
    margin: 0;
    text-align: left;
    font-size: var(--paragraphFontSize);
    padding: 0;
}

.prompt ul li p:first-child {
    font-weight: bolder;
}

.prompt ul li p:nth-child(2) {
    font-weight: lighter;
    color: rgb(22, 22, 22, 0.5);
    margin: 10px 0;
}

.prompt ul li:hover {
    background: rgb(128, 128, 128, 0.2);
}

.actions {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
}

.button.grey {
    color: grey;
}

.button:hover.grey {
    color: grey;
    background: none;
    border: none;
}

.button {
    font-size: var(--paragraphFontSize);
    font-weight: bold;
}

.button.red {
    color: red;
}

.button:hover.red {
    color: red;
    background: none;
    border: none;
}

.amounts {
    padding: 20px;
}

.amounts p {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: var(--paragraphLargestFontSize);
    font-weight: bolder;
}

.amounts p:first-child {
    color: #0094FF;
}

.amounts p:nth-child(2) {
    font-size: var(--headerLargeFontSize);
    color: black;
}

.amounts p:last-child {
    text-decoration: underline;
    color: black;
}

.link_btn_gold {
    color: black;
    border: 1px solid var(--colorGold);
    display: inline-block;
    padding: 10px 20px;
    background: var(--colorGold);
    font-size: var(--bigLinkFontSize);
}

.link_btn_gold:hover {
    background: black;
    border: 1px solid black;
    color: var(--colorGold);
}

.control_label {
    font-size: var(--paragraphMidFontSize);
    margin-bottom: -20px;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

.control_label.error {
    color: red;
}

.form_control {
    width: 100%;
    font-size: var(--paragraphMidFontSize);
    outline: none;
    padding: 20px 30px;
    background: white;
    border: 1px solid #828282;
    margin-top: 30px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form_control:focus {
    border-color: #FFC700;
}

.form_control.error {
    border-color: #E70000;
}

.box {
    padding: 20px 3vw;
    overflow: auto;
}

.prompt {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column nowrap;
    width: 70vw;
    max-height: 70vh;
    max-width: 600px;
    overflow: hidden;
}