.aside a {
    color: grey;
    margin: 0;
    padding: 20px 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.aside a:hover, .aside a.active {
    background: var(--colorGold);
    color: black;
}

.aside a:hover path, aside a.active path {
    fill: black;
}